*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ECECEC;
}
.menu {
    /* position: absolute; */
    /* top: 100%; */
    /* left: 0; */
    /* width: 100%; */
    /* height: fit-content; */
    /* padding:10px 40px; */
    /* display: none; */
    /* max-height: 0; */
    /* overflow: hidden;
    /* opacity: 0; */
    /* transition: all 0.3s ease; */
    /* background-color:black; */
    /* color: #7A71EB; */
    /* font-size: 30px; */
    /* list-style: none; */ */
    /* transform: translateY(-20px); */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transition: all 0.3s ease; */
}

.menu.show {
    display: block;
    max-height: 300px; /* larger than menu height */
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}






.header{
    position: relative;
    width: 100%;
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dcdbdb;
    background-color:#ECECEC;
}
.header .img-drua{
    width: 90px;
}
.header ul, button{
    display: none;
}
.toggle-btn {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    background: transparent;
}
.toggle-btn span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}
/* end of the header section */


.hero-section{
    padding: 0 20px;
    padding-top: 110px;
}
.div-imge img{
    width: 100%;
    margin: 70px 0;
}
.div-landing h1{
    font-size: 42px;
    letter-spacing: -2px;
    line-height: 1.2;
    font-family: "poppins" sans-serif;
    font-weight: 750;
}
.div-landing span{
    color: #7A71EB;
}
.div-landing p{
    font-size: 20px;
    line-height: 1.2;
    margin: 16px 0;
    margin-bottom: 30px;
}
.btns-preveiw{
    display: flex;
}
.btn-learnMore{
    color: #7A71EB;
    border: 2px solid #7A71EB;
    border-radius: 4px;
    background-color: transparent;
    padding: 16px 12px;
    font-size: 16px;
    margin-left: 2px;
}
.btn-preveiw{
    display:none;
    background-color:#7A71EB;
    color: white;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.btns-preveiw button{
    display: block;
}
.container-moreThan h3{
   font-size: 22px; 
   line-height: 1.3;
}
.container-moreThan span{
    color: #7A71EB;
}
.contaienr-logos{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 70px 0;
}
.contaienr-logos img{
    width:100px;
    padding: 4px 0;
}
.three-logos1{
    display: flex;
    flex-direction: column;
}
/* end of the hero section */


.second-section{
    padding: 0 20px;
}
.second-section h1{
    line-height: 1.2;
}
.second-section .our-unique{
    font-size: 20px;
    margin: 14px 0 36px 0;
    line-height: 1.2;
}
.container-cards-easy{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-easy{
    border: 2px solid white;
    padding: 30px;
    border-radius: 19px;
}
.card-easy img{
    width: 40px;
}
.card-easy h2{
    font-size: 20px;
    margin: 6px 0;
}
/* end of the second section */


.third-section{
    padding: 100px 20px;
    padding-bottom: 70px;
}
.div-how{
    margin-bottom: 50px;
}
.div-how p{
    font-size: 20px;
    padding-right: 40px;
}
.card-discover{
    height:fit-content;
}
.card-discover img{
    width: 96%;
    margin: 40px 0;
}
.card-discover span{
    background-color:black;
    color: white;
    border-radius: 4px;
    padding: 6px 4px;
}
.card-discover h2{
    color: #7A71EB;
    font-size: 22px;
    margin: 14px 0;
}
.card-discover button{
    display: block;
    border:2px solid #7A71EB;
    color: #7A71EB;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    margin: 18px 0;
}
/* end of the third section */


.fourth-section{
    padding: 0 20px;
    padding-bottom: 90px;
}
.fourth-section h1{
    letter-spacing:-1.5px;
}
.fourth-section .integration-para{
    font-size: 20px;
    line-height: 1.3;
    margin: 6px 0 50px 0;
}
.div-integration{
    width: 240px;
}
.container-cards-synbosper{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.card-synbosper{
    padding: 20px 14px;
    border-top: 3px solid white;
    border-bottom: 2px solid white;
}
.card-synbosper img{
    width: 170px;
}
.card-synbosper p{
    font-size: 22px;
    line-height: 1.3;
    margin: 10px 0 36px 0;
}
.card-synbosper button{
    display: block;
    background-color:black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
/* end of the fourth section */


.fivth-section{
    padding: 0 20px;
    margin-bottom: 170px;
}
.container-img img{
width: 100%;
}
.fivth-section h1{
    width: 254px;
    line-height: 1;
}
.container-cards-create{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 40px 0;
}
.card-create{
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    padding: 18px;
}
.card-create img{
    width: 10px;
    height: 10px;
}
.card-create h3{
    font-size: 22px;
}
.card-create button{
    display: block;
    border: 2px solid #7A71EB;
    border-radius: 6px;
    color: #7A71EB;
    padding:4px 14px;
}
.card-create p{
    font-size: 16px;
    margin: 10px 0 20px 0;
}
.card-create .imgstar-h3{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* end of the fivth section */


.sixth-section{
    padding: 0 20px;
    margin-bottom: 100px;
}
.sixth-section h1{
    letter-spacing: -1.5px;
    line-height: 1.2;
}
.our-pricing-para p{
    font-size: 22px;
    line-height: 1.2;
    margin: 16px 0 80px 0;
}
.container-personal-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.personal-card{
    background-color:white;
    padding: 24px;
    border-radius: 18px;
}
.personal-card button{
    display: block;
    border: 2px solid #7A71EB;
    border-radius: 6px;
    color: #7A71EB;
    padding: 16px 36px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin: 50px 0 10px 0;
}
#personalBlack-card{
    background-color: black;
    color: white;
}
#personalBlack-card button{
    background-color:#7A71EB;
    color: white;
}
#personalBlack-card p{
    color: white;
}
.personal-card img{
    width: 80px;
}
.personal-card p{
    line-height: 1.2;
    font-size: 18px;
    color: rgb(74, 74, 74);
}
.div-dollor{
    margin: 50px 0 40px 0;
}
.div-dollor span{
    color: #7A71EB;
    font-size: 24px;
}
.imgstar-textBasic{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.imgstar-textBasic img{
    width: 10px;
    height: 10px;
}
.imgstar-textBasic p{
    font-size: 14px;
}













@media (min-width: 375px){
    .card-synbosper{
        border: 3px solid white;
        border-radius: 12px;
    }
    .div-integration{
        width: 96%;
        margin-bottom: 90px;
    }
    /* end of the fourth section */

    .fivth-section h1{
        width: 360px;
    }
    /* end of the fivth section */
}


@media (min-width: 768px){
    .div-landing p{
        padding-right: 290px;
    }
    .btn-preveiw{
        margin-right: 20px;
    }
    .div-imge{
        text-align: center;
    }
    .div-imge img{
        width: 340px;
    }
    .container-moreThan{
        text-align: center;
    }
    .contaienr-logos{
        justify-content: space-evenly;
    }
    .three-logos1 img{
        padding: 8px 0;
    }
    /* end of the hero section */

    .second-section .our-unique{
        padding-right: 220px;
    }
    /* end of the second section */

    .card-discover img{
        width: 320px;
    }
    /* end of the third section */

    .fivth-section h1{
        width: 500px;
    }
    /* end of the fivth section */
}



@media (min-width:1024px){
    
    .header{
        height: 80px;
        padding: 0 100px;
        position:static;
    }
    .list-toggleBtn{
        display: flex;
        align-items: center;
    }
    .listAndBtn{
        display: flex;
    }
    .header ul, button{
        display: block;
    }
    .header button{
        padding: 6px 12px;
        background-color: #7A71EB;
        color: white;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
    }
    .header ul{
        display: flex;
        margin-right: 18px;
    }
    .header ul li{
        list-style: none;
        font-size: 16px;
        padding: 0 10px;
    }
    .toggle-btn{
        display: none;
    }
    /* end of the header section  */

    .hero-section{
        text-align: center;
        justify-items: center;
        padding-top: 50px;
    }
    .container-landing{
        justify-items: center;
    }
    .div-landing p{
        padding-right:0;
    }
    .btn-preveiw{
        justify-items: center;
        margin-left: 190px;
    }
    /* end of the hero section  */

    .second-section{
        margin: 120px 100px;
    }
    .second-section h1{
        font-size: 50px;
    }
    .second-section .our-unique{
        padding-right: 590px;
        font-size: 22px;
        line-height: 1.5;
    }
    .container-cards-easy{
        display: flex;
        flex-direction: row;
    }
    /* end of the second section */

    .third-section{
        padding: 0 100px;
    }
    .container-cards-discover{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .third-section h1{
        font-size: 40px;
    }
    .div-how{
        width: 470px;
    }
    /* end of the third section */

    .fourth-section{
        padding: 90px 100px;
    }
    .div-integration{
        width: 430px;
    }
    .container-cards-synbosper{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    .div-integration h1{
        font-size: 50px;
    }
    .card-synbosper{
        padding: 30px;
    }
    /* end of the fourth section */

    .fivth-section{
        padding: 80px 100px;
        padding-bottom: 0;
    }
    .fivth-section h1{
        font-size: 50px;
        width: 700px;
    }
    .container-card-img{
        display: flex;
        align-items: center;
        gap: 10rem;
    }
    .container-cards-create{
        width: 320px;
    }
    .container-img img{
        width: 500px;
    }
    /* end of the fivth section */


    .sixth-section{
        padding: 0px 100px;
    }
    .container-personal-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    .our-pricing-para{
        text-align: center;
    }
    .our-pricing-para h1{
        font-size: 50px;
    }
    .our-pricing-para p{
        padding:0 270px;
    }
}